<div class="homepage-projects">
  <div class="container">
    <% if current_user %>
      <%= render "shared/project/projects" %>
    <% else %>
      <div class="center-div">
        <h1>Welcome to Taski!</h1>
      </div>
    <% end %>
  </div>
</div>

