<h1>
  <%= @title %>
</h1>
<h2>Projects</h2>
<ul>
  <% @projects.each do |project| %>
    <p><strong><%= project.title %></strong></p>
    <p><strong><%= project.description %></strong></p>
  <% end %>
</ul>
