<div style="padding-right: 5%; padding-left: 5%; padding-top: 5%">
  <div>
    <h1>New project</h1>

    <%= render "form", project: @project %>

    <br>

    <div>
      <%= link_to "Back to project", pages_home_path %>
    </div>
  </div>
</div>

