<div class="project-detail-container">
  <%= render "shared/project/project_summary" %>

  <hr>
  <%= render 'shared/tasks/tasks_table' %>
  <div style="margin-top: 2rem">
    <%= link_to "Add a new task for this project", new_project_task_path(project_id: @project.id) %>
  </div>
</div>